# AmoCRM API
# Долгосрочный токен AmoCRM (не требует обновления)
AMO_TOKEN=
AMO_BASE_DOMAIN=amocrm.ru
AMO_API_DOMAIN=

# Telegram Bot
TELEGRAM_BOT_TOKEN_ASSISTANT=

# Telegram Chat ID
TELEGRAM_CHAT_ID=

# Google Sheets credentials
GOOGLE_CREDENTIALS_FILE=
# таблица 
SPREADSHEET_LR163=
